[Global]
# Common library locations
# safenet                                                 
#pkcs11_library = /lib64/libeToken.so.8.1
# opensc                             
pkcs11_library = /usr/lib/opensc-pkcs11.so
reader_slot = 0
random_chunk_size = 128
entropy_ratio = 2
debug = no